.divform {
    width: 840px;
    background-color: rgb(222, 219, 219);
    padding: 10px;
}

.divform fieldset {
    border: none;
}

.label {
    font-size: 20px;
    padding: 8px 0 6px 0;
}

.divform input[type=text],
.divform input[type=email]
.divform input[type=tel]{
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    box-sizing: border-box;
    border: 1px solid #470864;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
}

.minhaTextArea {
    width: 100%;
    padding: 10px;
    resize: none;
    box-sizing: border-box;
    border: 1px solid #470864;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
}

.botoes input[type=reset],
.botoes input[type=submit],{ 
    background-color: pink;
    color: #fff;
    padding: 8px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}





